<h1>Hello World</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<!-- this makes the BDD test link to Privacy work -->
<a href="/privacy">Privacy</a>

<!-- this makes the BDD test link to Terms work -->
<%= link_to 'Terms', terms_path %>
